.message{
    padding: 10px;
    border: 1px solid #ccc;
    color: #333333;
    margin-bottom: 10px;
}
@mixin border-radius($radius){
    -moz-border-radius:$radius;
    -webkit-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}
.success {
  @extend .message ;
    @include border-radius(25px);
    border-color: green;
}
.error {
   @extend .message ;
    @include border-radius(5px);
    border-color: red;
}
.warning {
   @extend .message ;
    @include border-radius(5px);
    border-color: yellow;
}