.message, .success, .error, .warning {
  padding: 10px;
  border: 1px solid #ccc;
  color: #333333;
  margin-bottom: 10px; }

.success {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  border-color: green; }

.error {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: red; }

.warning {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: yellow; }

/*# sourceMappingURL=main.css.map */
