*{
  padding: 0;
  margin: 0;
}
header, nav, main, section, article, aside, footer {
    display: block;
}
header{
    padding: 5px;
    background: #666666;
}
nav{
    background: #333333;
    margin-bottom: 10px;
}
nav ul{
    text-align: center;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav a{
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
nav a:hover{
    background: #000000;
}
section{
    float: left;
    width: 70%;
}
article {
    margin-bottom: 15px;
    background: #999999;
}
article p{
    padding: 10px;
}
aside{
    padding: 5px;
    background: #666666;
    float: right;
    width: 25%;
}
footer{
    padding: 5px;
    background: #666666;
    clear: both;
}